<p>Using <code>&lt;%= content %&gt;</code></p>
<%= helpers.wrap_in_box do %>
  <%= content %>
<% end %>
<hr>
<p>Using <code>&lt;% content %&gt;</code></p>
<%= helpers.wrap_in_box do %>
  <% content %>
<% end %>
